#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  min-height: 480px;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 8px;
  transition: transform 200ms ease;
}

.logo:hover {
  transform: scale(1.05);
}